body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
}

header {
    background-color: red;
    color: black;
    text-align: center;
    padding: 40px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background-color: #111;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0 5px;
    color: red;
}

.card p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #ccc;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

